@font-face {
    font-family: 'permanent_markerregular';
    src: url('../fonts/PermanentMarker-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'desyrelregular';
    src: url('../fonts/desyrel-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'telegrama';
    src: url('../fonts/telegrama_raw.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.cardboard {
  background: url('../img/cardboard.jpg') repeat;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.container {
  margin-top: 25px;
}
h1 {
  text-align:center;
  -ms-transform: rotate(-4deg); /* IE 9 */
    -webkit-transform: rotate(-4deg); /* Chrome, Safari, Opera */
    transform: rotate(-4deg);
    background-color: #FEFEFE;
    display:inline-block;
    margin-top:1em;
    margin-bottom:1.5em;
    padding: 8px 30px;
    margin-left: 3em;
    font-size: 4em;
    font-family: "permanent_markerregular" !important;
    position:relative;
    z-index: 1;
}

h1:before, h1:after {
  content: "";
  height: 40px;
  width: 20px;
  background-color: #DFFCFC;
  border: #A8EFEF 1px solid;
  position:absolute;
  z-index: 10;
  opacity: 0.8;
}
h1:before {
  left: -10px;
}
h1:after {
  right: -10px;
}
h3 {
  font-family: "desyrelregular";
  font-size: 3em;
  -ms-transform: rotate(-2deg); /* IE 9 */
    -webkit-transform: rotate(-2deg); /* Chrome, Safari, Opera */
    transform: rotate(-2deg);
}
.btn {
  font-family: Helvetica;
  display:block;
  color: #fff;
  background-color: #EE1313;
  height: 2em;
  width: 2em;
  border-radius: 100px;
  margin: 0 auto;
  float:none;
  font-size: 5em;
}
.btn, .btn:focus, .multiplier li {
  -moz-box-shadow: inset 5px 5px 5px rgba(255, 255, 255, .4), inset -5px -5px 5px rgba(0, 0, 0, .4);
  -webkit-box-shadow: inset 5px 5px 5px rgba(255, 255, 255, .4), inset -5px -5px 5px rgba(0, 0, 0, .4);
  box-shadow: inset 5px 5px 5px rgba(255, 255, 255, .4), inset -5px -5px 5px rgba(0, 0, 0, .4);
}
.btn:active, .multiplier li.active{
  -moz-box-shadow: inset -3px -3px 3px rgba(255, 255, 255, .4), inset 3px 3px 3px rgba(0, 0, 0, .4);
    -webkit-box-shadow: inset -3px -3px 3px rgba(255, 255, 255, .4), inset 3px 3px 3px rgba(0, 0, 0, .4);
    box-shadow: inset -3px -3px 3px rgba(255, 255, 255, .4), inset 3px 3px 3px rgba(0, 0, 0, .4);
}
#result, #coffee {
  font-family: "telegrama";
  background-color: #201F1F;
  color: #EFEFEF;
  display:block;
  padding: 14px 16px 6px;
  margin-right: 2em;
  border-radius: 5px;
}
#coffee {
  width: 300px;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  text-align:left;
}
.coffee-count {
  margin-top: 2em;
  text-align:center;
}
.extra {
  font-size: 0.5em;
  text-align:center;
}
.h-inline h2, .h-inline h3 {
  display: inline-block;
  -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    font-size: 2em;
}
.circle-buttons {
  padding: 2em;
}
.multiplier {
  margin-top: 2em;
  display:block;
  margin: 0 auto;
  text-align:center;
}
.multiplier li {
  display:inline-block;
  padding: 1.8em 2em;
  background-color: #0B8F8F;
  border-radius: 50px;
  color: #fff;
}
